@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --green-darker: hsl(169, 82%, 17%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: var(--green-lighter);
  color: var(--grey-darker);
  font-family: 'Karla', serif;
  font-size: 16px;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

main {
  background-color: var(--white);
  border-radius: .7rem;
  padding: 1.5rem;
}

h1 {
  margin-bottom: 2rem;
}

h1, label, p {
  user-select: none;
}

input, textarea, .div-radio-inputs {
  border: 1px solid var(--grey-medium);
  border-radius: .3rem;
  margin-top: .7rem;
  outline: none;
  padding: .8rem;
}

input, button, .div-radio-inputs, .div-checkbox label {
  cursor: pointer;
}

input:hover, input:focus {
  border: 2px solid var(--green-medium);
}

.div-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.div-radio {
  display: flex;
  flex-direction: column;
  margin: .5rem 0 0 0;
}

.div-radio label {
  cursor: pointer;
}

.div-radio-inputs input {
  margin-top: 0;
}

.div-radio-inputs input:checked {
  content: url("../../assets/images/icon-radio-selected.svg");
}

textarea {
  resize: none;
}

.div-checkbox {
  align-items: center;
  border-radius: .3rem;
  display: flex;
  flex-direction: row;
  gap: .9rem;
  line-height: 1.5rem;
  margin: 1rem auto;
  text-underline-offset: 0.2rem;
}

.div-checkbox + span {
  margin-bottom: 2rem;
  margin-top: -.6rem;
}

.div-checkbox input {
  margin: auto;
}

.div-checkbox input:checked {
  content: url("../../assets/images/icon-checkbox-check.svg");
}

div button:focus {
  outline: 2px solid var(--green-darker);
}

div button {
  background-color: var(--green-medium);
  border: none;
  border-radius: .5rem;
  color: var(--white);
  letter-spacing: .05rem;
  font-size: 1.1em;
  padding: 1rem;
  width: 100%;
}

div button:hover {
  background-color: var(--green-darker);
}

.asterisk::after {
  color: var(--green-medium);
  content: ' *';
}

.selected {
  background-color: var(--green-lighter);
  border: 1px solid var(--green-medium);
}

.error {
  border: 1px solid var(--red);
}

.error-message {
  color: var(--red);
  font-size: .9em;
  margin-top: .5rem;
}

.success-message {
  background-color: var(--green-darker);
  border-radius: .5rem;
  color: var(--white);
  font-size: .9em;
  max-width: 24rem;
  padding: 1rem
}

.success-title {
  font-size: 1.3em;
  margin-bottom: 1rem;
}

.success-title::before {
  content: url("../../assets/images/icon-success-check.svg");
  margin-right: .7rem;
  position: relative;
  top: .3rem;
}


footer {
  color: var(--grey-darker);
  margin: 2rem auto;
  max-width: 15rem;
  text-align: center;
}

footer p {
  margin-bottom: .5rem;
}

footer a {
  color: var(--green-medium);
  font-weight: 600;
  text-underline-offset: 0.2rem;
}

footer a:hover {
  color: var(--green-darker);
  text-decoration: underline;
}

footer a:visited {
  color: var(--green-darker);
}

footer a:focus {
  border-radius: .1rem;
  outline: 2px solid var(--green-darker);
  outline-offset: 1px;
}