@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green-lighter: hsl(148, 38%, 91%);
  --green-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-darker: hsl(187, 24%, 22%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--green-lighter);
  color: var(--grey-darker);
  font-family: 'Karla', serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

main {
  background-color: var(--white);
  border-radius: .7rem;
  padding: 1.5rem;
}

h1 {
  font-size: 1.7em;
}

input, textarea, .div-radio-inputs {
  border: 1px solid var(--grey-medium);
  border-radius: .3rem;
  margin-top: .7rem;
  padding: .8rem;
}

.div-radio {
  margin: .5rem 0 1rem 0;
}

.div-radio-inputs input {
  margin-top: 0;
}

.div-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.div-radio {
  display: flex;
  flex-direction: column;
}

.asterisk::after {
  color: var(--green-medium);
  content: ' *';
}

.error-message {
  display: none;
}

.div-success-message {
  display: none;
}