/* max */

@media (max-width: 30rem) {
	main,
	.success-message {
		width: 85%;
	}
}

@media (max-width: 21.8rem) {
	h1 {
		font-size: 1.5rem;
	}

	label,
	p,
	a {
		font-size: 0.9rem;
	}

	input {
		padding: 0.6rem;
	}

	.button {
		font-size: 1rem;
		padding: 0.8rem;
	}
}

@media (max-width: 15.6rem) {
	main,
	.success-message {
		padding: 1rem;
	}

	h1 {
		font-size: 1.3rem;
	}

	input {
		padding: 0.5rem;
	}

	.button {
		font-size: 0.9rem;
		padding: 0.7rem;
	}

	.success-title {
		font-size: 1.1rem;
	}

	.success-message p {
		font-size: 0.8rem;
	}
}

/* min */

@media (min-width: 30.1rem) {
	main,
	.success-message {
		width: 70%;
	}
}

@media (min-width: 48.1rem) {
	main {
		padding: 2rem;
		max-width: 45rem;
		min-width: 42rem;
	}

	.container-fullname,
	.container-radio {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	.message {
		height: 6rem;
	}
}

@media (min-width: 115rem) {
	body {
		font-size: 2vh;
	}

	h1 {
		font-size: 4vh;
		margin-bottom: 2vh;
	}

	main {
		max-width: 50vw;
		min-width: 50vw;
		padding: 2vw;
	}

	.container-inputs {
		margin-top: 2vh;
	}

	.container-checkbox {
		margin-bottom: 1vh;
		margin-top: 1vh;
	}

	.message {
		height: 12vh;
	}

	.success-message {
		padding: 1.2vw;
	}

	input,
	.message {
		font-size: 1.8vh;
	}

	input,
	.message,
	.input-radio,
	.button {
		margin-top: 1vh;
		padding: 0.8vw;
	}

	main,
	input,
	.message,
	.input-radio,
	.button,
	.success-message {
		border-radius: 0.5rem;
	}

	input[type='checkbox'],
	input[type='radio'] {
		height: 1.7vh;
		width: 1.7vw;
	}

	footer {
		max-width: none;
	}
}

@media (min-width: 250rem) {
	main {
		border-radius: 2rem;
	}

	input,
	.message,
	.input-radio,
	.button,
	.success-message {
		border-radius: 0.8rem;
	}
}
